body, html, *,::after, ::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #058eff, */
}
input[type=email]{
  border:1px solid white;
  height: 30px;
  width: 75%;
  -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=email]:focus {
  border: 1px solid #fcd896;
  border-right: none;
  color:white;
}