.NavLinkshovereffect::before{
  content: '';
  width: 0;
  height: 2px;
  background-color: #48b1f8;
  position: absolute;
  top: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
 .NavLinkshovereffect:hover::before{
width: 100% !important;
}